/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-3.2.0.min
*/

.profile-container {
	margin-top: 80px;
}

.main-container {
	margin-top: 80px;
}

.upper-container {
	height: 300px;
	width: 100%; 
}

.lower-main-container {
	background-color: RGBA(98, 185, 175, 1);
	height: 400px;
	width: 100%;

}

.lower-container {
	padding-top: 50px;
	margin-left: 200px;

}

.main-title-login {
	text-align: center;
}

.main-title-login h1 {
	font-size: 100px;
	text-align: center;
}

/*.main-container {
	background: url(https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10628242_10152323698487308_5421806365098827544_n.jpg?oh=acea2e1d0e73a5a39b658eca9ff8541c&oe=5550A4CA&__gda__=1431997343_cc2e6bbabb90fee98499806fd7fe57cf) no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}*/