// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-con {
	margin: 5px;
}

.userFeedCon {
	margin-left: 50px;
	padding: 10px;
	margin-top: 50px;
}

.profile-container {
	margin-left: 100px;
	padding: 10px;
}