<!-- <h1>Sites#about</h1>
<p>Find me in app/views/sites/about.html.erb</p>
 -->
<div class="main-container">
  	<div class="upper-container">
  		<h1>About us</h1>
  	</div>

  	<div class="lower-main-container">
	    <div class="lower-container">
	      <!-- Three columns of text below the carousel -->
	      <div class="row">
	        <div class="allison col-xs-4">
	          <img class="img-circle" src="https://pbs.twimg.com/profile_images/533388187159105536/AY7hmpeL_400x400.jpeg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
	         <!--  <img class="img-circle" src="<%= image_path('Allison_Marino.jpg') %>" alt="Generic placeholder image" style="width: 140px; height: 140px;"> -->
	          <h2>Allison Marino</h2>
	          <p>Most supremely awesome being</p>
	          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
	        </div>
	        <div class="jeffmorrisjr col-xs-4">
	          <img class="img-circle" src="https://pbs.twimg.com/profile_images/441024794570403840/LLO_Ys-t_400x400.jpeg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
	          <h2>Jeff Morris Jr</h2>
	          <p>Marketing Genius</p>
	          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
	        </div>
	        <div class="nalin col-xs-4">
	          <img class="img-circle" src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/10142_10201399562414879_1712327783_n.jpg?oh=f2f46870ba852bff84667999bbbe6978&oe=556109E5&__gda__=1432441142_20b151ebb9b375dd2dfbfc83a38f180e" style="width: 140px; height: 140px;">
	          <h2>Nalin Chopra</h2>
	          <p>Is that you Jeffrey Morris Jr? Are you hijacking Nalin's pic??!!</p>
	          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
	        </div><!-- /.col-lg-4 -->
	      </div><!-- /.row -->
	    </div>
    </div>
    
   </div>