<h1>Sites#about</h1>
<p>Find me in app/views/sites/about.html.erb</p>

<div class="main-container">
  	<div class="upper-container">
  		<h1>Login</h1>
  	</div>

  	<div class="lower-main-container">
	    <div class="lower-container">
	      <!-- Three columns of text below the carousel -->
	      <div class="row">
	        <div class="col-xs-4">
	          <img class="img-circle" src="https://igcdn-photos-h-a.akamaihd.net/hphotos-ak-xfp1/t51.2885-19/10631977_302661583258823_213126186_a.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
	         <!--  <img class="img-circle" src="<%= image_path('Allison_Marino.jpg') %>" alt="Generic placeholder image" style="width: 140px; height: 140px;"> -->
	          <h2>Allison Marino</h2>
	          <p>Most supremely awesome being</p>
	          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	        </div>
	        <div class="col-xs-4">
	          <img class="img-circle" src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10628242_10152323698487308_5421806365098827544_n.jpg?oh=e3ce990ff186229b47b1b3fc616c83e5&oe=552917CA&__gda__=1431997343_afc41bcbda747f17aeb19e5fd0712ec3" alt="Generic placeholder image" style="width: 140px; height: 140px;">
	          <h2>Jeff Morris Jr</h2>
	          <p>Marketing Genius</p>
	          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	        </div>
	        <div class="col-xs-4">
	          <img class="img-circle" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c32.32.400.400/s160x160/1001336_10201399564414929_427864093_n.jpg?oh=c7c4cd2b94473de5364652a4703d5953&oe=556770C7&__gda__=1432703883_96badfe5631dd08bf4d69a542b283843">
	          <h2>Nalin Chopra</h2>
	          <p>Is that you Jeffrey Morris Jr? Are you hijacking Nalin's pic??!!</p>
	          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	        </div><!-- /.col-lg-4 -->
	      </div><!-- /.row -->
	    </div>
    </div>
    
   </div>