<!-- <h1>Sites#collections</h1>
<p>Find me in app/views/sites/collections.html.erb</p>
 -->
 <%= render "layouts/navbar" %>
<div class="main-container">
	<h1 align="center">Patience is a virtue. Collections is coming soon!</h1>
</div>