<div class="main-container">
		<div class="upper-container">
			<div class="main-title-login">
				<div class="row">
			  	<div class="col-md-6 col-md-offset-3">

			  		<h1>Insterest</h1>
			  		<h3>A better Instagram</h3>
			  		<%= link_to image_tag("http://i.imgur.com/lIQgW7A.png?1"), oauth_connect_path %>
								  	
			  	</div>
	  		</div>
  		</div>
  	</div>

  	<div class="lower-main-container">
	    <div class="lower-container">
	      <div class="row">
	        <div class="col-xs-4 offset-xs-3">
	          <img class="img" src="https://s3.amazonaws.com/uploads.hipchat.com/39979/1426399/7mUVm1tlQMEIeOV/stream2.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
	          <h2>Personal Collections</h2>
	          <p>Organize your feed into collections of your chosing</p>
	        </div>
	        <div class="col-xs-4">
	          <img class="img-circle" src="https://s3.amazonaws.com/uploads.hipchat.com/39979/1426399/FMmDdv2dxGIGjm8/search.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
	          <h2>Search</h2>
	          <p>Search by hashtag or username</p>
	        </div>
	        <div class="col-xs-4">
	          <img class="img-circle" src="https://s3.amazonaws.com/uploads.hipchat.com/39979/1426399/YL09exGNllYJxbC/pin2.png" style="width: 140px; height: 140px;">
	          <h2>Collections</h2>
	          <p>Browse coolections we have personally curated for you.</p>
	        </div><!-- /.col-lg-4 -->
	      </div><!-- /.row -->

	    </div>
    </div>
    
   </div>