
<%= render "layouts/navbar" %>
<% @search.each do |result | %>
	<div class="user_search_main_container">
		<div class="username_search_container">
			<div class="row" style="display: inline;">
				<div class="col-xs-4">
				<div>
					<%= image_tag result.profile_picture %>
					<a href="http://www.instagram.com/<%=result.username%>" ><%=result.full_name%></a>
				</div>
			</div>
		</div>
	</div>
<% end %>
