<%= render "layouts/navbar" %>
<% @search.each do |result | %>
	<div>
		<%= image_tag result.profile_picture %>
		<a href="http://www.instagram.com/<%=result.username%>" ><%=result.full_name%></a>
		</div>
<% end %>